@font-face {
  font-family: 'iconfont';
  src: url('~/assets/font/iconfont.woff2') format('woff2'),
    url('~/assets/font/iconfont.woff') format('woff'),
    url('~/assets/font/iconfont.ttf') format('truetype');
}
