.s-container {
  padding-right: 3.75rem;
  padding-left: 3.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 486px) {
  .s-container {
    max-width: 426px;
  }
}

@media (min-width: 636px) {
  .s-container {
    max-width: 576px;
  }
}

@media (min-width: 828px) {
  .s-container {
    max-width: 768px;
  }
}

@media (min-width: 1052px) {
  .s-container {
    max-width: 992px;
  }
}

@media (min-width: 1260px) {
  .s-container {
    max-width: 1200px;
  }
}

@media (min-width: 1500px) {
  .s-container {
    max-width: 1440px;
  }
}
