.s-container {
  margin: 0 auto;
  padding-right: 3.75rem;
  padding-left: 3.75rem;
}

@media (min-width: 486px) {
  html {
    font-size: 3.25px !important;
  }

  .s-container {
    max-width: 426px;
  }
}

@media (min-width: 636px) {
  html {
    font-size: 3.5px !important;
  }

  .s-container {
    max-width: 576px;
  }
}

@media (min-width: 828px) {
  html {
    font-size: 3.5px !important;
  }

  .s-container {
    max-width: 768px;
  }
}

@media (min-width: 1052px) {
  html {
    font-size: 4px !important;
  }

  .s-container {
    max-width: 992px;
  }
}

@media (min-width: 1260px) {
  html {
    font-size: 4px !important;
  }

  .s-container {
    max-width: 1200px;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 4px !important;
  }

  .s-container {
    max-width: 1440px;
  }
}
